{{- with .Values.global.ingress}}
{{- if .enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{$.Release.Name}}-ingress
  {{- with .labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .annotations }}
  annotations:
    {{- tpl (toYaml .) $ | nindent 4 }}
  {{- end }}
spec:
  ingressClassName: {{ .className | default "traefik" }}
  {{- if .tls }}
  tls:
    {{- range .tls }}
    {{- $certSecretName := .secretName | default (printf "%s-%s" $.Release.Name "cert")}}
    {{- if .hosts }}
    {{- range .hosts }}
    - hosts:
        - {{ tpl (toYaml .) $ }}
      secretName: {{ $certSecretName }}
    {{- end }}
    {{- end }}
    {{- end }}
  {{- end }}
  rules:
    - host: {{ tpl (toYaml .host) $ }}
      http:
        paths:
        {{- range $serviceName,$path := .paths }}
          - path: {{ $path }}
            pathType: "Prefix"
            backend:
              service:
                name: {{$.Release.Name}}-{{ $serviceName }}
                port:
                  number: {{ index $.Values.prometheusStack $serviceName "service" "port" }}
        {{- end }}
{{- end }}
{{- end }}