apiVersion: v2
name: ollama
description: Get up and running with large language models locally.
type: application
version: 0.6.6
appVersion: "0.1.16"
kubeVersion: "^1.16.0-0"
home: https://ollama.ai/
icon: https://ollama.ai/public/ollama.png
keywords:
  - ai
  - llm
  - llama
  - mistral