apiVersion: v2
dependencies:
  - alias: prometheusStack
    name: kube-prometheus-stack
    repository: https://prometheus-community.github.io/helm-charts
    version: 79.8.2
  - alias: blackboxExporter
    condition: blackboxExporter.enabled
    name: prometheus-blackbox-exporter
    repository: https://prometheus-community.github.io/helm-charts
    version: 11.5.0
description: |
  A complete monitoring/alerting stack with Grafana, Prometheus, Alertmanager & Blackbox exporter
  
  ## Installing the Chart with iits ArgoCD

  ```yaml
  prometheus-stack:
    namespace: monitoring
    repoURL: "https://charts.iits.tech"
    targetRevision: "79.8.2"
    syncOptions:
      - ServerSideApply=true
    parameters:
      global.ingress.host: "admin.{{ .Values.projectValues.rootDomain }}"
      prometheusStack.grafana.adminPassword: "REPLACE_ME"
  ```
name: prometheus-stack
version: 79.8.2
appVersion: 3.7.3
