apiVersion: v2
dependencies:
  - alias: prometheusStack
    name: kube-prometheus-stack
    repository: https://prometheus-community.github.io/helm-charts
    version: 56.21.x
description: |
  A complete monitoring/alerting stack with Grafana Prometheus Alertmanager
  
  ## Installing the Chart with iits ArgoCD

  ```yaml
  prometheus-stack:
    namespace: monitoring
    repoURL: "https://charts.iits.tech"
    targetRevision: "43.2.0"
    ignoreDifferences:
      - jsonPointers:
          - /imagePullSecrets
        kind: ServiceAccount
    syncOptions:
      - ServerSideApply=true
    parameters:
      global.alertmanager.host: "admin.{{.Values.projectValues.rootDomain}}"
      global.prometheus.host: "admin.{{.Values.projectValues.rootDomain}}"
      global.grafana.host: "admin.{{.Values.projectValues.rootDomain}}"
      prometheusStack.grafana.adminPassword: "REPLACE_ME"
  ```
name: prometheus-stack
version: 56.22.1
