apiVersion: v2
dependencies:
  - alias: prometheusStack
    name: kube-prometheus-stack
    repository: https://prometheus-community.github.io/helm-charts
    version: 43.1.3
description: A complete monitoring/alerting stack with Grafana Prometheus Alertmanager
name: prometheus-stack
version: 43.2.2
