{{ with .Values.disallowUnsignedImages }}
{{ if .enabled }}
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: {{ .name }}
  annotations:
    policies.kyverno.io/severity: high
    policies.kyverno.io/subject: Pod
    pod-policies.kyverno.io/autogen-controllers: {{ .autogenControllers }}
    policies.kyverno.io/category: DockerImage
    policies.kyverno.io/title: Disallow Unsigned Images
    policies.kyverno.io/description: >-
      Images needs to be signed with a specific private cosign key
spec:
  validationFailureAction: {{ .validationAction }}
  background: {{ .background }}
  webhookTimeoutSeconds: {{ .timeout }}
  failurePolicy: Fail
  rules:
    - name: "{{ .name }}-rule"
      match:
        any:
          - resources:
              kinds:
                - Pod
      {{- with .excludeNamespaces}}
      exclude:
        any:
          - resources:
              namespaces:
              {{- range . }}
                - {{ . }}
              {{- end }}
        {{- end }}
      verifyImages:
      {{- range .imagesAndPublicKeyPairs }}
        - count: 1
          imageReferences:
            - {{ .image | quote}}
          {{ if .pullSecret }}
          imageRegistryCredentials:
            secrets:
              - {{ .pullSecret }}
          {{- end }}
          mutateDigest: true
          requireDigest: true
          attestors:
            - entries:
                - keys:
                    publicKeys: |-
{{ .key | indent 22 }}
                    rekor:
                      ignoreTlog: {{ .ignoreTransparencyLog | default true }}
      {{- end }}
{{ end }}
{{ end }}