gatekeeper:
  replicaCount: 1
  automountServiceAccountToken: true
  extraVolumeMounts:
    - name: oidc-forward-auth-no-permission-link
      mountPath: /tmp
      readOnly: true
  extraVolumes:
    - name: oidc-forward-auth-no-permission-link
      configMap:
        name: oidc-forward-auth-no-permission-link
        defaultMode: 0777
  strategy:
    type: "RollingUpdate"
  config:
    # -- Required
    client-id:
    # -- Required
    client-secret:
    # -- Required
    discovery-url:
    enable-compression: true
    enable-default-deny: false
    enable-json-logging: true
    enable-request-id: true
    enable-logging: false
    enable-metrics: false
    enable-refresh-tokens: false
    enable-token-header: false
    listen: 0.0.0.0:3000
    listen-admin: :4000
    preserve-host: true
    server-read-timeout: 300s
    server-write-timeout: 300s
    #important
    no-proxy: true
    #important
    no-redirects: false
    skip-access-token-clientid-check: true
    resources:
      - require-any-role: true
        uri: /*
ingress:
  enabled: true
  # -- Required, replace it with your host address
  host:
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
  # Creates default Ingress with tls and the given host from .Values.ingress.host
  defaultIngress:
    enabled: true
    ## Default values can be overriden
    #tls:
    #  enabled: "false"
    #  secretName: "oidc-forward-auth.fullname"
    path: "/oauth"
    #pathType: "Prefix"
    backend:
      name: "{{$.Release.Name}}-gatekeeper"
      port:
        name: "proxy"

  ## If you don't want to use the default Ingress, you can define it here on your own
  #tls:
  #  - hosts:
  #      - "{{.Values.ingress.host}}"
  #    secretName: "oidc-forward-auth-cert"
  #hosts:
  #  - host: "{{.Values.ingress.host}}"
  #    paths:
  #      - path: "/"
  #        backend:
  #         name: "{{include "oidc-forward-auth.fullname" $}}"
  #         port:
  #            name: "{{include "oidc-forward-auth.fullname" $}}"
