apiVersion: kyverno.io/v2
kind: PolicyException
metadata:
  name: argocd
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
spec:
  exceptions:
    - policyName: restrict-seccomp-strict
      ruleNames:
        - check-seccomp-strict
        - autogen-check-seccomp-strict
    - policyName: restrict-seccomp
      ruleNames:
        - check-seccomp
        - autogen-check-seccomp
    - policyName: enforce-security-context
      ruleNames:
        - add-pod-security-context
  match:
    any:
      # Exclude argocd-repo-server otherwise this error occurs:  getaddrinfo() thread failed to start
      - resources:
          kinds:
            - Deployment
            - ReplicaSet
            - Pod
          namespaces:
            - argocd
          names:
            - argocd-repo-server*