apiVersion: kyverno.io/v2alpha1
kind: PolicyException
metadata:
  name: prometheus-stack-prometheus-node-exporter
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
spec:
  exceptions:
    - policyName: restrict-volume-types-strict
      ruleNames:
        - restricted-volumes
        - autogen-restricted-volumes
    - policyName: disallow-host-namespaces
      ruleNames:
        - host-namespaces
    - policyName: disallow-host-ports
      ruleNames:
        - host-ports-none
  match:
    any:
      - resources:
          kinds:
            - DaemonSet
          namespaces:
            - monitoring
          names:
            - elastic-stack-filebeat
      - resources:
          kinds:
            - DaemonSet
          namespaces:
            - monitoring
          names:
            - prometheus-stack-prometheus-node-exporter
      - resources:
          kinds:
            - Pod
          namespaces:
            - monitoring
          names:
            - elastic-stack-filebeat*
      - resources:
          kinds:
            - Pod
          namespaces:
            - monitoring
          names:
            - prometheus-stack-prometheus-node-exporter*