apiVersion: kyverno.io/v2alpha1
kind: PolicyException
metadata:
  name: restrict-seccomp-exclusions
spec:
  exceptions:
    - policyName: restrict-seccomp
      ruleNames:
        - check-seccomp
        - autogen-check-seccomp
  match:
    any:
      # Exclude argocd-repo-server otherwise this error occurs:  getaddrinfo() thread failed to start
      - resources:
          kinds:
            - Deployment
            - ReplicaSet
            - Pod
          namespaces:
            - argocd
          names:
            - argocd-repo-server*