apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ollama-middleware.fullname" . }}
  labels:
    {{- include "ollama-middleware.labels" . | nindent 4 }}
spec:
  {{- if not .Values.middleware.autoscaling.enabled }}
  replicas: {{ .Values.middleware.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "ollama-middleware.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.middleware.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "ollama-middleware.labels" . | nindent 8 }}
        {{- with .Values.middleware.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.middleware.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "ollama-middleware.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.middleware.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.middleware.securityContext | nindent 12 }}
          image: "{{ .Values.middleware.image.repository }}:{{ .Values.middleware.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.middleware.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.middleware.service.port }}
              protocol: TCP
          livenessProbe:
            {{- toYaml .Values.middleware.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.middleware.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.middleware.resources | nindent 12 }}
          {{- with .Values.middleware.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.middleware.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.middleware.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.middleware.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.middleware.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
