apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-https-redirect
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: HostRegexp(`.+`)
      middlewares:
        - name: https-redirect
          namespace: {{.Release.Namespace}}
      services:
        - name: {{.Release.Name}}
          kind: Service
          namespace: {{ .Release.Namespace }}
          port: 443