apiVersion: v2
name: iits-kyverno-policies
description: |
  This chart wraps the upstream `kyverno-policies` chart and adds a few useful policies:
    - Verify all images are signed with cosign
    - Verify all images come from allowed image repositories
    - Replace the complete registry reference with a custom one
    - Prepend the image reference with a custom prefix, useful for e.g. pull-through caches
dependencies:
  - name: "kyverno-policies"
    repository: "https://kyverno.github.io/kyverno/"
    version: v2.7.2
type: application
version: 1.5.0