kafka:
  replicaCount: 3
  maxMessageBytes: _52428800
  autoCreateTopicsEnable: true
  deleteTopicEnable: false #this has to be disabled to get rid of autoCreateTopicsEnable, which should not be enabled on production. At the moment we cannot delete it, since auto creation happened for some topics
  metrics:
    serviceMonitor:
      enabled: true
    prometheusRule:
      enabled: true
    kafka:
      enabled: true
    jmx:
      enabled: true
  persistence:
    size: 30G
