kafka:
  replicaCount: 3
  maxMessageBytes: _52428800
  autoCreateTopicsEnable: true

  #this has to be disabled to get rid of autoCreateTopicsEnable, which should not be enabled on production.
  deleteTopicEnable: false

  metrics:
    serviceMonitor:
      enabled: true
    prometheusRule:
      enabled: true
    kafka:
      enabled: true
    jmx:
      enabled: true

  persistence:
    size: 30G

# Kyverno Policy Exception
policyException:
  enabled: true
  namespace: "kyverno"