apiVersion: v2
dependencies:
- condition: elasticsearch.enabled
  name: elasticsearch
  repository: https://helm.elastic.co
  version: 8.5.1
- condition: kibana.enabled
  name: kibana
  repository: https://helm.elastic.co
  version: 7.17.3
- condition: filebeat.enabled
  name: filebeat
  repository: https://helm.elastic.co
  version: 8.5.1
description: Awesome Logs
name: elasticsearch
version: 8.5.1

