---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "swagger-ui.fullname" . }}
{{- with .Values.deployment.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}

  labels:
    app: {{ template "swagger-ui.name" . }}
    chart: {{ template "swagger-ui.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.deployment.replicas | default 1 }}
  selector:
    matchLabels:
      app: {{ template "swagger-ui.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "swagger-ui.name" . }}
        release: {{ .Release.Name }}
      annotations:
        checksum/config: {{ include (print $.Chart.Name "/templates/configmap.yaml") . | sha256sum }}
{{- with .Values.podAnnotations }}
{{ toYaml . | indent 8 }}
{{- end }}

    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
          - mountPath: /api-doc
            name: swagger-config
          env:
          {{- with .Values.deployment.extraEnv }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          - name: SWAGGER_JSON
            value: /api-doc/openapi.json
          livenessProbe:
            tcpSocket:
              port: {{ .Values.livenessProbe.httpGet.port }}
          ports:
          - name: http
            containerPort: 8080
            protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: swagger-config
          configMap:
            name: {{ template "swagger-ui.fullname" . }}
            items:
            - key: conf.json
              path: openapi.json
