{{ range $projectName,$project := .Values.projects }}
apiVersion: v1
kind: Secret
metadata:
  name: argocd-repo-{{ $projectName }}
  labels:
    argocd.argoproj.io/secret-type: repository
    app.kubernetes.io/part-of: argocd
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
data:
  url: {{ $project.git.repoUrl | b64enc }}
  name: {{ printf $projectName | b64enc }}
  type: {{ printf "git" | b64enc }}
  {{- if ne $project.git.password  "" }}
  password: {{ printf $project.git.password | b64enc }}
  username: {{ printf ($project.git.username | default "ARGOCD_GIT_ACCESS_TOKEN") | b64enc }}
  {{else}}
  {{- if ne $project.git.repoPrivateKeyBase64Encoded "" }}
  sshPrivateKey: {{ printf $project.git.repoPrivateKeyBase64Encoded }}
  {{- end }}
  {{- end }}
{{- end }}