{{- $defaultValues := .Values.kasmDefaultConfig }}
{{ range $serviceName,$serviceValues := .Values.services }}
{{- $certSecretName := (default $defaultValues.ingressRoute.certificate.name (($serviceValues.ingressRoute).certificate).name) | default (printf "%s-%s" $serviceName "cert")}}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name:  {{ $serviceName }}
spec:
  secretName: {{ $certSecretName }}
  issuerRef:
    name: {{ default $defaultValues.ingressRoute.certificate.clusterIssuer  (($serviceValues.ingressRoute).certificate).clusterIssuer}}
    kind: ClusterIssuer
  commonName: {{ $serviceValues.ingressRoute.domain}}
  privateKey:
    algorithm: "RSA"
    size: 4096
  dnsNames:
    - {{ $serviceValues.ingressRoute.domain}}
{{- end }}