{{ range $serviceName,$serviceValues := .Values.services }}
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: {{$serviceName}}
spec:
  entryPoints:
    - {{ default "websecure" $serviceValues.ingressRoute.entryPointName}}
  routes:
    - match: HostSNI(`{{$serviceValues.ingressRoute.domain}}`)
      services:
        - name: {{ $serviceName}}
          namespace: {{ $.Release.Namespace }}
          port: {{ default 6901 ($serviceValues.service).externalPort }}
  tls:
    passthrough: true
---
{{- end }}