
:root {
    --blur: 1.2600000000000005px;
    --spread: -0.9000000000000004px;
    --horiz: 0.6994313653112738px;
    --vert: 0.5663883519448538px;
    --font-color: black;
    --bg-color: #F1F1F1FF;
    --tile-bg-color: #EAEAEAFF;
    --hover-color: white;
    --text-color: black;
    --border: 2px solid lightgray;
    --trans-dur: 0.3s;
    --trans-timing: cubic-bezier(0.76, 0.05, 0.24, 0.95);
    --trans-timing-in: cubic-bezier(0.76, 0.05, 0.86, 0.06);
    --trans-timing-out: cubic-bezier(0.05, 0.76, 0.06, 0.86);
}

[data-theme="dark"] {
    --font-color: #c1bfbd;
    --bg-color: #121720;
    --tile-bg-color: #b9bcc5;
    --hover-color: #dcdde2;
    --text-color: whitesmoke;
    --border: 2px solid #636363;
}

input {
    font: 1em/1.5 sans-serif;
}

.theme-toggle-wrapper {
    display: flex;
    transition: background-color var(--trans-dur) color var(--trans-dur);
}

.switch {
    margin: auto;
    position: relative;
}

.switch__icon, .switch__input {
    display: block;
}

.switch__icon {
    position: absolute;
    top: 0.5em;
    right: 0.375em;
    width: 0.75em;
    height: 0.75em;
    transition: opacity calc(var(--trans-dur) / 2),
    transform calc(var(--trans-dur) / 2);
}

.switch__icon polyline {
    transition: stroke-dashoffset calc(var(--trans-dur) / 2);
}

.switch__icon--light,
.switch__icon--light polyline {
    transition-delay: calc(var(--trans-dur) / 2);
    transition-timing-function: var(--trans-timing-out);
}

.switch__icon--dark {
    opacity: 0;
    transform: translateX(-0.75em) rotate(30deg) scale(0.75);
    transition-timing-function: var(--trans-timing-in);
}

.switch__input {
    background-color: #787878;
    border-radius: 0.75em;
    outline: transparent;
    position: relative;
    width: 3em;
    height: 1.5em;
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.switch__input:focus-visible {
}

.switch__input:before,
.switch__input:after {
    content: "";
    display: block;
    position: absolute;
}

.switch__input:before {
    border-radius: inherit;
    transition: background-color var(--trans-dur) var(--trans-timing);
}

.switch__input:after {
    background-color: white;
    border-radius: 50%;
    top: 0.125em;
    left: 0.125em;
    width: 1.25em;
    height: 1.25em;
    transition: background-color var(--trans-dur) var(--trans-timing),
    transform var(--trans-dur) var(--trans-timing);
    z-index: 1;
}

.switch__input:checked:after {
    transform: translateX(1.5em);
}

.switch__input:checked ~ .switch__icon--light,
.switch__input:checked ~ .switch__icon--light polyline {
    transition-delay: 0s;
    transition-timing-function: var(--trans-timing-in);
}

.switch__input:checked ~ .switch__icon--light {
    opacity: 0;
    transform: translateX(-0.75em) rotate(-30deg) scale(0.75);
}

.switch__input:checked ~ .switch__icon--light polyline {
    stroke-dashoffset: 1.5;
}

.switch__input:checked ~ .switch__icon--dark {
    opacity: 1;
    transform: translateX(-1.5em);
    transition-delay: calc(var(--trans-dur) / 2);
    transition-timing-function: var(--trans-timing-out);
}

.switch__sr {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
}

.cs-shadow {
    box-shadow: calc(clamp(0px, var(--horiz), 2px)) calc(clamp(0px, var(--vert), 2px)) 2px calc(var(--spread)) rgba(0, 0, 0, 0.233), calc(2 * var(--horiz)) calc(2 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.20), calc(3 * var(--horiz)) calc(3 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.123), calc(5 * var(--horiz)) calc(5 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.076), calc(8 * var(--horiz)) calc(8 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.047), calc(13 * var(--horiz)) calc(13 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.028);
    border: 1px solid rgba(0, 0, 0, 0.068);
}

.cs-inset {
    box-shadow: inset calc(clamp(0px, var(--horiz), 2px)) calc(clamp(0px, var(--vert), 2px)) 2px calc(var(--spread)) rgba(0, 0, 0, 0.233), inset calc(2 * var(--horiz)) calc(2 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.20), inset calc(3 * var(--horiz)) calc(3 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.123), inset calc(5 * var(--horiz)) calc(5 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.076), inset calc(8 * var(--horiz)) calc(8 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.047), inset calc(13 * var(--horiz)) calc(13 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.028);
    border: 1px solid rgba(0, 0, 0, 0.068);
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.container {
    text-align: center;
    width: 80%;
    max-width: 704px;
}

.logo {
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto 1rem;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 165px;
    height: 165px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    border: var(--border);
    background-color: var(--tile-bg-color);
}

.tile img {
    max-width: 100%;
    max-height: 100%;
}

.tile:hover {
    opacity: 1;
    transform: scale(1.05);
    background-color: var(--hover-color);
}