apiVersion: v2
name: kyverno
description: |
  This chart wraps the upstream `kyverno` and `kyverno-policies` chart and adds a few useful policies:
    - Verify all images are signed with cosign
    - Verify all images come from allowed image repositories
    - Replace the complete registry reference with a custom one
    - Prepend the image reference with a custom prefix, useful for e.g. pull-through caches
dependencies:
  - name: "kyverno"
    repository: "https://kyverno.github.io/kyverno/"
    version: 3.4.0
  - name: "kyverno-policies"
    repository: "https://kyverno.github.io/kyverno/"
    version: 3.4.0
  - name: "policy-reporter"
    repository: "https://kyverno.github.io/policy-reporter"
    version: 3.1.3
    condition: policy-reporter.install
type: application
version: 3.0.0
appVersion: 1.13.4
