apiVersion: v2
dependencies:
  - name: cert-manager
    repository: https://charts.jetstack.io
    version: v1.15.3
  - name: cert-manager-webhook-opentelekomcloud
    repository: https://iits-consulting.github.io/cert-manager-webhook-opentelekomcloud
    version: v0.1.4
    condition: clusterIssuers.otcDNS.enabled
name: cert-manager
description: Wrapper chart for cert-manager. Deploys a ClusterIssuer resource to bootstrap Let's encrypt cert generation
version: 1.15.3
