apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: {{ include "oidc-forward-auth.fullname" $ }}
spec:
  forwardAuth:
    address: http://{{ include "oidc-forward-auth.fullname" $ }}-gatekeeper.{{.Release.Namespace}}.svc.cluster.local:{{.Values.gatekeeper.service.proxy.port}}
    authRequestHeaders:
      - "Accept"
      - "Authorization"
      - "Cookie"