argo-cd:
  fullnameOverride: "argocd"

  global:
    logging:
      format: "json"
      level: "warn"
    # the /argocd suffix is required for oidc to resolve callback url correct
    # there is an unfixed bug report in argocd: https://github.com/argoproj/argo-cd/issues/23694
    domain: "REPLACE_THIS/argocd"

  controller:
    replicas: 2
    env:
      - name: "TZ"
        value: "Europe/Berlin"
    # resources equivalent to Bitnami setting "medium"
    # see https://github.com/bitnami/charts/blob/main/bitnami/common/templates/_resources.tpl#L15
    resources:
      requests:
        cpu: 500m
        memory: 1024Mi
        ephemeral-storage: 50Mi
      limits:
        cpu: 750m
        memory: 1536Mi
        ephemeral-storage: 2Gi

  redis-ha:
    enabled: true

  applicationSet:
    replicas: 2

  dex:
    enabled: false

  notifications:
    enabled: false

  repoServer:
    replicas: 2
    env:
      - name: "TZ"
        value: "Europe/Berlin"
    # resources equivalent to Bitnami setting "small"
    # see https://github.com/bitnami/charts/blob/main/bitnami/common/templates/_resources.tpl#L15
    resources:
      requests:
        cpu: 500m
        memory: 512Mi
        ephemeral-storage: 50Mi
      limits:
        cpu: 750m
        memory: 768Mi
        ephemeral-storage: 2Gi
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

  server:
    replicas: 2
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    ingress:
      enabled: true
      hostname: "REPLACE_THIS"
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
      path: &ingressPath "/argocd"
    env:
      - name: "TZ"
        value: "Europe/Berlin"

  configs:
    cm:
      oidc.config: |
        name: keycloak
        issuer: $argocd-oidc:oidcURL
        clientID: $argocd-oidc:clientID
        clientSecret: $argocd-oidc:clientSecret
        requestedScopes:
          - openid
          - profile
          - email
          - groups
        requestedIDTokenClaims:
          groups:
            essential: true

      resource.customizations.ignoreDifferences.argoproj.io_Application: |
        # Ignores .data changes of all secrets with a vaultInjectionChecksum annotation
        jqPathExpressions:
          - '. | select(.metadata.annotations.parametersChecksum) | .spec.source.helm'
          - '. | select(.metadata.annotations.valueFileChecksum) | .spec.source.helm'
      resource.customizations.ignoreDifferences.admissionregistration.k8s.io_MutatingWebhookConfiguration: |
        # Ignores caBundle and template changes of the following resources
        jqPathExpressions:
          - .metadata.annotations.template
          - '.webhooks'
      resource.customizations.ignoreDifferences.apiextensions.k8s.io_CustomResourceDefinition: |
        jqPathExpressions:
          - .spec.conversion.webhookClientConfig.caBundle
      resource.customizations.ignoreDifferences.admissionregistration.k8s.io_ValidatingWebhookConfiguration: |
        jqPathExpressions:
          - .metadata.annotations.template
          - '.webhooks[]?.clientConfig.caBundle'
          - '.webhooks'
      resource.customizations.ignoreDifferences.cert-manager.io_Certificate: |
        jqPathExpressions:
          - .spec.duration
      resource.customizations.health.networking.k8s.io_Ingress: |
        hs = {}
        hs.status = "Healthy"
        return hs

    rbac:
      policy.csv: |
        g, ARGOCD-ADMIN, role:admin
        g, SYSTEM-ADMINISTRATOR, role:admin

    params:
      server.insecure: true
      server.rootpath: *ingressPath
      server.basehref: *ingressPath

# Please use argocd-secret chart instead if you are using keycloak deployed in the same stage to avoid cyclic dependencies.
#     secret:

# Kyverno Policy Exception
policyException:
  enabled: true
