{{ if .Values.elasticsearch.enabled }}
apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: {{ .Release.Name }}
  annotations:
    eck.k8s.elastic.co/license: basic
spec:
  version: {{  tpl .Values.elasticsearch.version $ }}
{{- if (not (empty .Values.auth)) }}
  auth:
{{- if (not (empty .Values.auth.users)) }}
    fileRealm:
{{- range $userName, $_ := .Values.auth.users }}
      - secretName: {{ $.Release.Name }}-user-{{ kebabcase $userName }}
{{- end }}
{{- end }}
{{- if (not (empty .Values.auth.roles)) }}
    roles:
{{- range $roleName, $_ := .Values.auth.roles }}
      - secretName: {{ $.Release.Name }}-role-{{ kebabcase $roleName }}
{{- end }}
{{- end }}
{{- end }}
{{- if .Values.ingress.elasticsearch -}}
{{- if eq .Values.ingress.elasticsearch.enabled true }}
  http:
    service:
      metadata:
        annotations:
          traefik.ingress.kubernetes.io/service.serverstransport: "{{ $.Release.Namespace }}-{{ $.Release.Name }}-elasticsearch@kubernetescrd"
          traefik.ingress.kubernetes.io/service.serversscheme: "https"
{{- end }}
{{- end }}
  secureSettings:
    - secretName: "{{ .Release.Name }}-backup-secure-settings"
{{- range $extraSetting := .Values.elasticsearch.extraSecureSettings }}
    - secretName: {{ $extraSetting }}
{{- end }}
  nodeSets:
  - name: default
    count: {{ .Values.elasticsearch.nodeCount }}
    config:
{{ .Values.elasticsearch.config | toYaml | indent 6 }}
    podTemplate:
      spec:
{{ tpl (.Values.elasticsearch.podTemplateSpec | toYaml) $ | indent 8 }}
    volumeClaimTemplates:
{{- if .Values.cce }}
      - {{ include "template.otcPVC" $ |  indent 8 | trim }}
{{ else }}
      - {{ include "template.regularPVC" $ | indent 8 | trim }}
{{ end }}
{{ end }}
