{{ if .Values.filebeat.enabled }}

apiVersion: beat.k8s.elastic.co/v1beta1
kind: Beat
metadata:
  name: {{ .Release.Name }}
spec:
  type: filebeat
  version: {{ tpl .Values.filebeat.version $ }}
  elasticsearchRef:
    name: {{ .Release.Name }}
  kibanaRef:
    name: {{ .Release.Name }}
  config:
    filebeat:
      autodiscover:
{{ .Values.filebeat.autodiscover | toYaml | indent 8 }}
    processors:
{{ concat .Values.filebeat.processors .Values.filebeat.extraProcessors | toYaml | indent 6 }}
    output.elasticsearch:
      username: '${ELASTICSEARCH_USERNAME}'
      password: '${ELASTICSEARCH_PASSWORD}'
      indices:
{{ concat .Values.filebeat.extraIndices .Values.filebeat.indices | toYaml | indent 8}}
  daemonSet:
    podTemplate:
      metadata:
        annotations:
          checksum/users: {{ include (print $.Template.BasePath "/eks-stack/elasticsearch-users.yaml") . | sha256sum | substr 0 50 }}
          checksum/roles: {{ include (print $.Template.BasePath "/eks-stack/elasticsearch-roles.yaml") . | sha256sum | substr 0 50 }}
      spec:
        # needed for autodiscover
        # see: https://github.com/elastic/cloud-on-k8s/blob/5937685b9085a5b185dde3d31ad50ccb5cdc034b/config/recipes/beats/filebeat_autodiscover.yaml
        serviceAccountName: {{ .Release.Name }}-filebeat
        automountServiceAccountToken: true
        terminationGracePeriodSeconds: 30
        securityContext:
          runAsUser: 0
        tolerations:
{{ .Values.filebeat.tolerations | toYaml | indent 10 }}
        containers:
        - name: filebeat
          resources:
{{ .Values.filebeat.resources | toYaml | indent 12}}
          env:
{{ tpl (.Values.filebeat.env | toYaml) $ | indent 10 }}
{{ if .Values.filebeat.extraEnv }}
{{ .Values.filebeat.extraEnv | toYaml | indent 10 }}
{{- end }}
          volumeMounts:
{{ .Values.filebeat.volumeMounts | toYaml | indent 10}}
{{ if .Values.filebeat.extraVolumeMounts }}
{{ .Values.filebeat.extraVolumeMounts | toYaml | indent 10 }}
{{- end }}
        volumes:
{{ .Values.filebeat.volumes | toYaml | indent 8 }}
{{ if .Values.filebeat.extraVolumes }}
{{ .Values.filebeat.extraVolumes | toYaml | indent 8 }}
{{- end -}}

{{ end }}
